body {
  font-family: verdana;
  background-color: powderblue;
  margin: 0;
  padding: 0;
}
h2 {
  color: darkslategrey; 
  text-transform: uppercase; 
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}


form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}
nav{
  display: flex;
}
nav a {
  margin-right: 10px;
  text-decoration: none;
  color: darkslategrey; 
  transition: color 0.3s;
  font-weight: bold;
}
button {
  padding: 10px 20px; /* Add padding to buttons */
  background-color: #ff6600; /* Orange background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold; /* Make buttons bold */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff9900; /* Lighter orange on hover */
}

nav a:hover {
  color: tomato;
}
.product-container {
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  background-color: #fff; /* White background */
}

.uniqueTags a:hover {
  color: tomato;
}