*{
  z-index: 2;
}
h2 {
  color: rgb(252, 238, 222); /* changed to cream to match logo */
  text-transform: uppercase; 
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}


form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}
nav{
  display: flex;
}
nav a {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(252, 238, 222); /* changed to cream to match logo */
  transition: color 0.3s;
  font-weight: bold;
}

.product-link {
  color: rgb(114, 183, 217); 
  text-decoration: underline; 
}

.product-link:hover {
  color: rgb(208, 203, 203); 
}

.product-link:visited {
  color: rgb(70, 148, 175); 
}

button {
  padding: 10px 20px; /* Add padding to buttons */
  background-color: rgb(114, 183, 217); /* changed to blue to match logo */
  color: rgb(252, 238, 222); /* changed to cream to match logo */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold; /* Make buttons bold */
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(208, 203, 203); /* gray on hover */
}

nav a:hover {
  color: rgb(114, 183, 217);
}
.product-container {
  border: 1px solid rgb(208, 203, 203); /* Gray border */
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  background-color: #fff; /* White background */
}

.uniqueTags a:hover {
  color: rgb(114, 183, 217);
}
body {
  font-family: verdana;
  background-color: rgb(114, 183, 217);
  margin:0;
  padding:0;
  overflow:auto;
  }
  section{
  height:100% auto;
  width:100vw;
  position:absolute ;  
  background:radial-gradient(#333,#000);
  z-index: 0;
  }
  .leaf div:nth-child(1) {
  left: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
}

.leaf div:nth-child(2) {
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

.leaf div:nth-child(3) {
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
}

.leaf div:nth-child(4) {
  left: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
}

.leaf div:nth-child(5) {
  left: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
}

.leaf div:nth-child(6) {
  left: 15%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
}

.leaf div:nth-child(7) {
  left: 90%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX(calc(-20px + var(--random-x))) rotate(45deg);
  }
  40% {
    transform: translateX(calc(-20px + var(--random-x))) rotate(90deg);
  }
  60% {
    transform: translateX(calc(-20px + var(--random-x))) rotate(135deg);
  }
  80% {
    transform: translateX(calc(-20px + var(--random-x))) rotate(180deg);
  }
  100% {
    top: 95%;
    transform: translateX(calc(-20px + var(--random-x))) rotate(225deg);
  }
}

.leaf div {
  position: absolute;
  display: block;
  z-index: 1;
}

.geoapify-autocomplete-input {
  padding: 0 31px 0 7px;
  width: calc(100% - 40px);

  outline: none;

  line-height: 36px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.3);

  font-size: 14px;
}

.geoapify-autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  background-color: #fff;
  
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.geoapify-autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.geoapify-autocomplete-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-items .active {
  background-color: rgba(0, 0, 0, 0.1);
}

.geoapify-autocomplete-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.geoapify-autocomplete-item .icon {
  display: inline-block;
  width: 40px;
  height: 24px;
  color: #aaa;
}

.geoapify-autocomplete-item .icon.emoji {
  color: unset;
  font-size: 20px;
  opacity: 0.9;
}

.geoapify-close-button {
  position: absolute;
  right: 5px;
  top: 0;

  height: 0%;
  display: none;
  align-items: center;
}

.geoapify-close-button.visible {
  display: flex;
}

.geoapify-close-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.geoapify-close-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-items .main-part .non-verified {
  color:  #ff4848;
}

.geoapify-autocomplete-items .secondary-part {
  margin-left: 10px;
  font-size: small;
  color: rgba(0, 0, 0, 0.6);
}
